%heading {
  line-height: 1.3em;
  font-size: 110px;
}

%regularText {
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.4em;
  font-size: 14px;
}

%button {
  border: 1px solid black;
  width: 177px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 250ms ease-in-out;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: #fff;
  }
}
